<div nz-row *ngIf="!has_role" nzAlign="middle" nzGutter="24">
    <div nz-col nzSpan="8">
    </div>
    <div nz-col nzSpan="8">
        
    </div>
    <div nz-col nzSpan="8">
        
    </div>
</div>

<ng-template #subname_title >
    <p style="color: white;">Tên phụ</p>
</ng-template>

<ng-template #director_title >
    <p style="color: white;">Đạo diễn</p>
</ng-template>
<ng-template #actor_title >
    <p style="color: white;">Diễn viên</p>
</ng-template>
<ng-template #category_title >
    <p style="color: white;">Thể loại</p>
</ng-template>
<ng-template #type_title >
    <p style="color: white;">Kiểu phát hành</p>
</ng-template>
<ng-template #brand_title >
    <p style="color: white;">Sản xuất</p>
</ng-template>
<ng-template #des_title >
    <p style="color: white;">Tóm tắt nội dung phim</p>
</ng-template>
<!-- </div> -->