
          <div class="container">
          <video id="plyrID" [ngStyle]="video_size" [src]="current_video_url"  controls playsinline>
             <!-- <source src="{{current_video_url}}" > -->
            </video>
            <h3 class="class-h4" *ngIf="film && film.type==2" style="color: white;">{{film.name}} - Tập {{current_episode}}</h3>
        </div>
        <div class="example" *ngIf="!film">
          <nz-spin nzSimple></nz-spin>
        </div>
<div nz-row [nzGutter]="6" *ngIf="film">
    <div nz-col nzSpan="14">
        <div nz-row [nzGutter]="3">
            <div nz-col nzSpan="12">
                <img class="poster" src="{{film.image_url}}" />
            </div>
            <div nz-col nzSpan="12">
                <nz-descriptions [nzTitle]="filmnametitle" [nzColumn]="1">
                    <nz-descriptions-item *ngIf="film.meta_data.subname" [nzTitle]="null">
                        <p style="color: white;">Tên phụ: {{film.meta_data.subname}}</p>
                      </nz-descriptions-item>
                    <nz-descriptions-item *ngIf="film.meta_data.director" [nzTitle]="null">
                        <p style="color: white;">Đạo diễn: {{film.meta_data.director}}</p>
                        </nz-descriptions-item>
                    <nz-descriptions-item *ngIf="film.meta_data.actor" [nzTitle]="null">
                        <p style="color: white;">Diễn viên: {{film.meta_data.actor}}</p>
                        </nz-descriptions-item>
                    <nz-descriptions-item [nzTitle]="null">
                        <p style="color: white;">Thể loại:</p>
                        <ng-template ngFor let-data [ngForOf]="film.categories">
                            <nz-tag [nzColor]="'#87d068'"> <a >{{ data.name }}</a></nz-tag>
                        </ng-template>
                    </nz-descriptions-item>
                    <nz-descriptions-item [nzTitle]="null">
                        <p style="color: white;">Kiểu phát hành: {{film.type==1?'Phim lẻ, chiếu rạp':'Phim bộ, series'}}</p>
                        </nz-descriptions-item>
                    <nz-descriptions-item [nzTitle]="null">
                        <p style="color: white;">Sản xuất: {{film.meta_data.brand}}({{film.meta_data.release_date?film.meta_data.release_date.split('T')[0]:'Năm sản xuất chưa rõ'}})</p>

                    </nz-descriptions-item>
                    <nz-descriptions-item [nzTitle]="null">
                        <p style="color: white;">Tóm tắt nội dung phim: {{film.meta_data.description}}</p>
                        </nz-descriptions-item>
                  </nz-descriptions>

                  <ng-template #filmnametitle >
                      <p style="color: white;">{{film.name}}
                    </p>

                  </ng-template>
            </div>
          </div>
          <div nz-row [nzGutter]="3" *ngIf="film.type==2">
          </div>
    </div>
    <div nz-col nzSpan="10" >
        <div nz-row [nzGutter]="3" *ngIf="film && is_logged">
            <span>
                <p  *ngIf="!is_love" style="color: white;">Thêm vào yêu thích:
                    <i  id="favofrie" style="color: pink;" nz-icon nzType="plus" (click)="add_favorite()"></i>
                </p>
                <p *ngIf="is_love" style="color: white;">Xoá khỏi yêu thích:
                    <i  style="font-size: 30px;" nz-icon style="color: hotpink;" (click)="remove_favorite()">
                        <svg>
                          <path
                            d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
                          />
                        </svg>
                      </i>
                </p>

            </span>
            <span *ngIf="film">
                <p style="color: white;">Đánh giá:
                    <i class="rating" *ngIf="temp_score==0"  nz-icon nzType="star" (click)="send_rating(1)"></i>
                    <i class="rating1" *ngIf="temp_score>0"  nz-icon nzType="star" nzTheme='fill' style="color: yellow;" (click)="send_rating(1)" (mouseenter)="temp_score=1"  (mouseleave)="temp_score=score"></i>
                    <i class="rating" *ngIf="temp_score<2"  nz-icon nzType="star" (click)="send_rating(2)"></i>
                    <i class="rating1" *ngIf="temp_score>1"  nz-icon nzType="star" nzTheme='fill' style="color: yellow;" (click)="send_rating(2)" (mouseenter)="temp_score=2"  (mouseleave)="temp_score=score"></i>
                    <i class="rating" *ngIf="temp_score<3"  nz-icon nzType="star" (click)="send_rating(3)"  ></i>
                    <i class="rating1" *ngIf="temp_score>2"  nz-icon nzType="star" nzTheme='fill' style="color: yellow;" (click)="send_rating(3)" (mouseenter)="temp_score=3"  (mouseleave)="temp_score=score"></i>
                    <i class="rating" *ngIf="temp_score<4"  nz-icon nzType="star" (click)="send_rating(4)" ></i>
                    <i class="rating1" *ngIf="temp_score>3"  nz-icon nzType="star" nzTheme='fill' style="color: yellow;" (click)="send_rating(4)" (mouseenter)="temp_score=4"  (mouseleave)="temp_score=score"></i>
                    <i class="rating" *ngIf="temp_score<5"  nz-icon nzType="star"  (click)="send_rating(5)" ></i>
                    <i class="rating1" *ngIf="temp_score==5"  nz-icon nzType="star" nzTheme='fill' style="color: yellow;" (click)="send_rating(5)" (mouseenter)="temp_score=5"  (mouseleave)="temp_score=score"></i>
                </p>
            </span>
            <span *ngIf="film">
                <div class="fb-share-button" data-href="https://vietflix-userportal.herokuapp.com" data-layout="button" data-size="small"><a target="_blank" [href]="sanitizer.bypassSecurityTrustResourceUrl(share_link)" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
                <!-- <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(share_link)' width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->
            </span>
            <br>
            <span >
                <button style="margin-top: 10px;" nz-button nzType="primary" (click)="open_comment()">Bình luận</button>
            </span>
        </div>
        <nz-divider *ngIf="film.episodes.length>0"></nz-divider>
        <span *ngIf="film.episodes.length>0">
            <h4  class="class-h4" [ngStyle]="{'margin-top.px': 16, 'color': 'white' }">Danh sách tập phim</h4>
            <div nz-col nzSpan="24" class="episode-area" [ngStyle]="{ 'margin-bottom.px': 16, 'margin-top.px': 16 }">
                <nz-radio-group [(ngModel)]="current_episode">
                    <ng-template ngFor let-data [ngForOf]="film.episodes">
                        <label nz-radio-button nzValue="{{data.id}}" (click)="change_episode(data.id, data.video_url)">{{data.id}}</label>
                    </ng-template>
                  </nz-radio-group>
            </div>
        </span>
      <!-- <iframe *ngIf="film.meta_data.trailer_url" class="trailer" max-width="560" max-height="315" width="400" height="225" [src]="sanitizer.bypassSecurityTrustResourceUrl(film.meta_data.trailer_url)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>
  </div>

    <h2 *ngIf="similarFilm.length > 0" style="color: white; margin-top: 20px;">Người dùng khác cũng xem</h2>
  <nz-list *ngIf="similarFilm.length > 0" [nzDataSource]="similarFilm" [nzRenderItem]="item" [nzGrid]="{ gutter: 8, xs: 24, sm: 12, md: 6, lg: 6, xl: 4 }">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent" >
        <ng-template #nzContent>
          <nz-card nzHoverable style="width: 200px; height:280px ; border: 0px solid white;" [nzCover]="coverTemplate" [nzBodyStyle]="body_style">
            <div nz-row>
                <div nz-col nzSpan="22">
                    <!-- <p style="color: white;" (click)="view_detail(item.id, item.video_url)">{{item.name}}</p> -->
                </div>

              </div>
          </nz-card>
        </ng-template>
        <ng-template #coverTemplate>
            <img (click)="view_detail(item.id, item.video_url)" alt="example" style="height: -webkit-fill-available; width: -webkit-fill-available;" src="{{item.image_url}}" />
          </ng-template>
      </nz-list-item>
    </ng-template>

  </nz-list>
    <h2 style="color: white; margin: 5px; max-height: 400px;">Trailer</h2>
    <!-- <div *ngIf="trailer && film && film.meta_data.trailer_url" id="plyrID2" style="max-height: 300px;" data-plyr-provider="youtube" data-plyr-embed-id="film.meta_data.trailer_url"></div>   -->
    <iframe  *ngIf="trailer && film && film.meta_data.trailer_url" height="70%" width="97%" class="trailer" [src]="sanitizer.bypassSecurityTrustResourceUrl(film.meta_data.trailer_url)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <nz-drawer
      [nzClosable]="true"
      [nzVisible]="visible_comment"
      nzPlacement="bottom"
      nzTitle="Bình luận phim"
      nzHeight="500px"
      (nzOnClose)="close_comment()"
    >
    <nz-comment *ngIf="film">
        <nz-comment-content>
          <nz-form-item>
            <textarea  [(ngModel)]="comment" nz-input rows="4"></textarea>
          </nz-form-item>
          <nz-form-item>
            <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!comment" (click)="handleSubmit()">
              Thêm bình luận
            </button>
          </nz-form-item>
        </nz-comment-content>
      </nz-comment>
      <h3 >Danh sách bình luận</h3>

      <nz-list [nzLoadMore]='loadMore' style=" padding-left: 50px; padding-right: 50px; border: 1px dotted white; border-radius: 3px;" *ngIf="slice_comments"  [nzDataSource]="slice_comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-comment [nzAuthor]="author" [nzDatetime]="item.date_in_word">
            <nz-avatar nz-comment-avatar nzText="{{item.username[0]}}" style="background-color:#87d068;" [nzSrc]="item.avatar"></nz-avatar>
            <nz-comment-content>
              <p>{{ item.text }}</p>
            </nz-comment-content>
            <nz-comment-action *ngIf="me && me.id == item.account_id" >
                <p nz-popconfirm
                   nzPopconfirmTitle="Bạn có muốn xoá bình luận của mình?"
                   (nzOnConfirm)="delete_comment(item.id)"
                   nzPopconfirmPlacement="topLeft"
                   nzOkText="Đồng ý"
                   nzCancelText="Huỷ"
                   style="color: red;"><i nz-icon nzType="delete" nzTheme="outline"></i>Xoá</p>
                </nz-comment-action>
          </nz-comment>
          <nz-divider></nz-divider>
          <ng-template #author >
            <h3 >{{item.username}}</h3>
          </ng-template>
        </ng-template>
      </nz-list>


          <ng-template #loadMore >
            <div class="loadmore" *ngIf="slice_comments && slice_comments.length >10">
                <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">Hiển thị thêm</button>
              </div>
        </ng-template>

        <ng-template #norult >
            <p>Không có bình luận nào</p>
        </ng-template>
    </nz-drawer>
