<nz-result nzStatus="403" [nzTitle]="null" [nzSubTitle]="null" >
    <div nz-result-extra>
        <h4 class="text-403">Tài khoản chưa được xác thực</h4>
      <button nz-button nzType="primary" (click)="open_modal_token()">Nhập mã xác thực</button>
    </div>
  </nz-result>


  <nz-modal [(nzVisible)]="isTokenPass" nzTitle="Nhập mã xác thực" nzMaskClosable="false" nzClosable="false">
    <nz-alert nzType="success" nzMessage="Mã xác thực đã được gửi tới {{current_email}}" nzShowIcon>
    </nz-alert>
    <br>
    <span>Nếu chưa nhận được trong vòng 5 phút </span> <button nz-button nzType="primary" (click)="resend_email()" [nzLoading]="isLoading_resend">Gửi lại</button>
    <form nz-form  [formGroup]="tokenForm">
      <br>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập mã xác thực">
          <nz-input-group nzPrefixIcon="property-safety">
            <input formControlName="token" nz-input placeholder="Mã xác thực" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div nz-row class="login-form-margin" *ngIf="show_token_error">
      <nz-alert nzType="error" nzMessage="Lỗi xác thực mã. Vui lòng thử lại!" nzShowIcon></nz-alert>
    </div>
    <div *nzModalFooter>
      <button  *ngIf="!isLoading_resend" nz-button nzType="primary" (click)="handleOkToken()" [nzLoading]="isLoading_checkToken">Gửi</button>
    </div>
  </nz-modal>